@media screen and (max-width: 1400px) {
    .season-blocks-wrapper {
        display: block;
    }
    .card-clocks-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        justify-items: center;
        align-items: center;
        justify-content: center;
    }
    .new-collection-block {
        display: flex;
        padding-bottom: 100px;
        padding-top: 100px;
        align-items: center;
        flex-direction: column;
        width: auto;
    }
    .card-clock {
        width: auto;
        margin-top: 40px;
    }
    .old-collection-img {
        width: 740px;
    }
}

@media screen and (max-width: 1280px) {
    .old-collection {
        display: flex;
        flex-direction: column;
    }
    .old-collection-img {
        width: auto;
    }
    .old-collection-block {
        margin-top: 80px;
    }
    .about-shop-subtitle {
        width: 290px;
    }
}

@media screen and (max-width: 1024px) {
    .header-link {
        font-size: 13px;
    }
    .main-subtitle {
        width: 550px;
    }
    .season-block-title {
        font-size: 28px;
    }
    .new-collection-title {
        font-size: 28px;
    }
    .new-products-description {
        font-size: 32px;
    }
    .footer-content-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
        justify-items: center;
        justify-content: center;
    }
    .newsletter-block {
        margin-left: 56px;
        margin-bottom: 90px;
    }
    .newsletter-block-subtitle {
        width: 280px;
    }
    .header-login-info {
        font-size: 11px;
    }
}

@media screen and (max-width: 768px) {
    .header-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .old-collection-subtitle {
        width: 350px;
    }
    .main-subtitle {
        width: 330px;
        font-size: 14px;
    }
    .header-login-info {
        font-size: 11px;
        width: 140px;
    }
    .header-link {
        font-size: 13px;
        margin-left: 20px;
    }
    .header-links {
        margin-top: 20px;
    }
    .header-cart-icon {
        margin-top: 20px;
    }
    .header-search-icon {
        margin-left: 20px;
        margin-top: 20px;
    }
    .new-products-description {
        font-size: 25px;
    }
    .brands-title {
        font-size: 25px;
    }
    .about-shop-subtitle {
        width: 290px;
        margin-bottom: 10px;
        font-size: 13px;
    }
}

@media screen and (max-width: 480px) {
    .header-links {
        display: none;
    }
    .header-top {
        display: none;
    }
    .main-block-logo {
        width: 240px;
        height: 240px;
    }
    .main-subtitle {
        width: 240px;
        font-size: 13px;
    }
    .main-block-text {
        font-size: 18px;
    }
    .season-block-title {
        font-size: 22px;
    }
    .card-clock-image {
        padding: 15px 5px;
    }
    .card-clock-title {
        font-size: 17px;
    }
    .card-clock-price {
        font-size: 15px;
    }
    .new-collection-title {
        font-size: 22px;
    }
    .old-collection-title {
        font-size: 19px;
    }
    .old-collection-subtitle {
        width: 200px;
    }
    .old-collection-btn {
        font-size: 13px;
        width: 220px;
    }
    .new-products-description {
        font-size: 17px;
    } 
    .product-title {
        font-size: 17px;
    }
    .product-price {
        font-size: 15px;
    }
    .product-clock-img {
        padding: 15px 5px;
    }
    .brands-title {
        font-size: 20px;
    }
    .footer-category {
        font-size: 19px;
    }
    .about-shop-subtitle {
        width: 200px;
    }
    .categories-wrapper {
        width: 200px;
    }
    .newsletter-block-subtitle {
        width: 200px;
    }
    .footer-content-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
        justify-items: center;
        justify-content: end;
    }
    .sub-btn {
        background: #0F0F0F;
        color: white;
        padding: 12px 44px;
        border: none;
        cursor: pointer;
        margin-top: 30px;
    }
}